body{
    background-image: url(Images/soft_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.he1{
    text-align: center;
    color: rgb(201, 15, 15);
    -webkit-text-stroke: black 1.5pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    text-decoration: none;
}
body h2{
    text-align: center;
    color: gold;
    -webkit-text-stroke: black 1pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
}
body h1:hover{
    cursor: pointer;
}
.nav {
    position: relative;
    background-color: #0a2829;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.nav a {
    float: left;
    color:#04AA6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav a:hover {
    background-color: gold;
    color: black;
    border-radius: 10px;
}
.nav a.active {
    background-color: #04AA6D;
    color: white;
    border-radius: 10px;
}
